<a href="https://colab.research.google.com/github/lilyzhizhou/datathon-3/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import plotly.express as px
import io
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.naive_bayes import CategoricalNB, GaussianNB, MultinomialNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.metrics import RocCurveDisplay, roc_curve, accuracy_score, confusion_matrix, roc_auc_score, classification_report
from sklearn.model_selection import GridSearchCV
import seaborn as sns
import statsmodels.api as sm
import warnings

warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Import Diabetes Data - add your file path in a separate line

# Lily
data_raw = pd.read_excel('/content/drive/MyDrive/Machine Learning /Datathon #3/Diabetes Study File 10K Dec 14 2017.xlsx')

# Kat

#Paijani

In [4]:
data_raw = data_raw.sort_values('Patient_ID')
data_raw.head()

,Age_at_Exam,sBP,sBP_Date,BMI,BMI_Date,LDL,LDL_Date,HDL,HDL_Date,A1c,A1c_Date,TG,TG_Date,FBS,FBS_Date,FBS>DM,Total_Cholesterol,Total_Cholesterol_Lab_Date,Diabetes,DM_OnsetDate,Depression,Depression_OnsetDate,HTN,HTN_OnsetDate,OA,OA_OnsetDate,COPD,COPD_Date,Hypertension_Medications,Hypertension_Medications_First_Instance,Corticosteroids,Corticosteroids_first_instance,Sex,leastO(A1c_Date),leastO(DM_OnsetDate),leastO(FBS_Date),LeastOfAll,A1C_BEF_DM,FBS_BEF_DM,Patient_ID,DM_Onset_Revised,DM_Onset_Revised_1YrPrior,DIABETES
2,63,133.0,2012-07-31,30.900000,2011-12-01,1.65,2012-06-01,NaN,NaT,6.1,2012-06-01,0.76,2012-06-01,5.6,2012-06-01,1,NaN,NaT,0,NaT,0,NaT,1,2014-05-21,0,NaT,1,2005-04-08,METOPROLOL / RAMIPRIL / LOSARTAN,2005-01-11,NaN,NaT,Male,NaN,NaN,NaN,NaN,NaN,NaN,1001000000000054,NaT,NaT,No
7754,75,170.0,2012-10-23,32.500000,2012-06-14,3.98,2012-11-07,1.66,2012-11-07,6.6,2012-11-07,2.33,2012-11-07,7.2,2012-11-07,1,5.96,2012-03-23,1,2005-03-22,1,2008-10-03,1,2007-07-31,1,2011-08-09,0,NaT,DILTIAZEM / FELODIPINE / HYDROCHLOROTHIAZIDE ...,2005-03-22,PREDNISONE,2005-11-01,Female,39121.0,38433.0,39121.0,38433.0,False,False,1001000000001950,2005-03-15,2004-03-15,Yes
7773,49,130.0,2007-04-17,33.400000,2007-04-17,3.24,2007-05-03,1.88,2007-05-03,6.6,2007-05-03,1.16,2007-05-03,7.5,2007-05-03,0,5.65,2007-05-03,1,2007-05-03,0,NaT,1,2010-06-16,0,NaT,0,NaT,RAMIPRIL,2007-06-19,NaN,NaT,Female,39636.0,39205.0,38491.0,38491.0,False,True,1001000000003945,2005-05-12,2004-05-12,Yes
2386,66,112.0,2010-05-13,23.600000,2010-03-31,1.62,2011-03-11,1.34,2010-04-01,5.8,2010-04-01,1.53,2010-04-01,6.2,2010-04-01,1,3.54,2010-04-01,0,NaT,1,2004-05-03,1,2007-10-04,1,2010-09-02,0,NaT,RAMIPRIL,2005-06-21,NaN,NaT,Male,NaN,NaN,NaN,NaN,NaN,NaN,1001000000004538,NaT,NaT,No
7734,84,128.0,2011-01-24,30.677753,2011-10-24,2.13,2011-02-15,1.81,2011-02-15,7.6,2011-02-15,NaN,NaT,5.3,2011-02-15,1,4.76,2011-02-15,1,2010-06-03,0,NaT,1,2010-02-04,1,2004-09-30,0,NaT,TELMISARTAN / AMLODIPINE,2009-04-27,"HYDROCORTISONE, COMBINATIONS / PREDNISONE",2010-03-18,Female,40862.0,40332.0,39937.0,39937.0,False,True,1001000000005143,2009-04-27,2008-04-27,Yes

Variables to Remove
* least0 variables

In [36]:
# Remove least0 variables from dataset
deletelist = [col for col in data_raw.columns if col.startswith('least') or col == 'LeastOfAll']
data1 = data_raw.drop(deletelist, axis=1)
data1.head()

,Age_at_Exam,sBP,sBP_Date,BMI,BMI_Date,LDL,LDL_Date,HDL,HDL_Date,A1c,A1c_Date,TG,TG_Date,FBS,FBS_Date,FBS>DM,Total_Cholesterol,Total_Cholesterol_Lab_Date,Diabetes,DM_OnsetDate,Depression,Depression_OnsetDate,HTN,HTN_OnsetDate,OA,OA_OnsetDate,COPD,COPD_Date,Hypertension_Medications,Hypertension_Medications_First_Instance,Corticosteroids,Corticosteroids_first_instance,Sex,A1C_BEF_DM,FBS_BEF_DM,Patient_ID,DM_Onset_Revised,DM_Onset_Revised_1YrPrior,DIABETES
2,63,133.0,2012-07-31,30.900000,2011-12-01,1.65,2012-06-01,NaN,NaT,6.1,2012-06-01,0.76,2012-06-01,5.6,2012-06-01,1,NaN,NaT,0,NaT,0,NaT,1,2014-05-21,0,NaT,1,2005-04-08,METOPROLOL / RAMIPRIL / LOSARTAN,2005-01-11,NaN,NaT,Male,NaN,NaN,1001000000000054,NaT,NaT,No
7754,75,170.0,2012-10-23,32.500000,2012-06-14,3.98,2012-11-07,1.66,2012-11-07,6.6,2012-11-07,2.33,2012-11-07,7.2,2012-11-07,1,5.96,2012-03-23,1,2005-03-22,1,2008-10-03,1,2007-07-31,1,2011-08-09,0,NaT,DILTIAZEM / FELODIPINE / HYDROCHLOROTHIAZIDE ...,2005-03-22,PREDNISONE,2005-11-01,Female,False,False,1001000000001950,2005-03-15,2004-03-15,Yes
7773,49,130.0,2007-04-17,33.400000,2007-04-17,3.24,2007-05-03,1.88,2007-05-03,6.6,2007-05-03,1.16,2007-05-03,7.5,2007-05-03,0,5.65,2007-05-03,1,2007-05-03,0,NaT,1,2010-06-16,0,NaT,0,NaT,RAMIPRIL,2007-06-19,NaN,NaT,Female,False,True,1001000000003945,2005-05-12,2004-05-12,Yes
2386,66,112.0,2010-05-13,23.600000,2010-03-31,1.62,2011-03-11,1.34,2010-04-01,5.8,2010-04-01,1.53,2010-04-01,6.2,2010-04-01,1,3.54,2010-04-01,0,NaT,1,2004-05-03,1,2007-10-04,1,2010-09-02,0,NaT,RAMIPRIL,2005-06-21,NaN,NaT,Male,NaN,NaN,1001000000004538,NaT,NaT,No
7734,84,128.0,2011-01-24,30.677753,2011-10-24,2.13,2011-02-15,1.81,2011-02-15,7.6,2011-02-15,NaN,NaT,5.3,2011-02-15,1,4.76,2011-02-15,1,2010-06-03,0,NaT,1,2010-02-04,1,2004-09-30,0,NaT,TELMISARTAN / AMLODIPINE,2009-04-27,"HYDROCORTISONE, COMBINATIONS / PREDNISONE",2010-03-18,Female,False,True,1001000000005143,2009-04-27,2008-04-27,Yes

In [6]:
data1.dtypes

Age_at_Exam                                         int64
sBP                                               float64
sBP_Date                                   datetime64[ns]
BMI                                               float64
BMI_Date                                   datetime64[ns]
LDL                                               float64
LDL_Date                                   datetime64[ns]
HDL                                               float64
HDL_Date                                   datetime64[ns]
A1c                                               float64
A1c_Date                                   datetime64[ns]
TG                                                float64
TG_Date                                    datetime64[ns]
FBS                                               float64
FBS_Date                                   datetime64[ns]
FBS>DM                                              int64
Total_Cholesterol                                 float64
Total_Cholesterol_Lab_Date                 datetime64[ns]
Diabetes                                            int64
DM_OnsetDate                               datetime64[ns]
Depression                                          int64
Depression_OnsetDate                       datetime64[ns]
HTN                                                 int64
HTN_OnsetDate                              datetime64[ns]
OA                                                  int64
OA_OnsetDate                               datetime64[ns]
COPD                                                int64
COPD_Date                                  datetime64[ns]
Hypertension_Medications                           object
Hypertension_Medications_First_Instance    datetime64[ns]
Corticosteroids                                    object
Corticosteroids_first_instance             datetime64[ns]
Sex                                                object
A1C_BEF_DM                                         object
FBS_BEF_DM                                         object
Patient_ID                                          int64
DM_Onset_Revised                           datetime64[ns]
DM_Onset_Revised_1YrPrior                  datetime64[ns]
DIABETES                                           object
dtype: object

In [7]:
# Checking for any NA values
print(data1.shape)
print(data1.isna().sum())

(10000, 39)
Age_at_Exam                                   0
sBP                                           4
sBP_Date                                      0
BMI                                           0
BMI_Date                                      0
LDL                                          61
LDL_Date                                      0
HDL                                          72
HDL_Date                                     64
A1c                                           0
A1c_Date                                      0
TG                                           53
TG_Date                                      42
FBS                                           0
FBS_Date                                      0
FBS>DM                                        0
Total_Cholesterol                           207
Total_Cholesterol_Lab_Date                  197
Diabetes                                      0
DM_OnsetDate                               4863
Depression                                    0
Depression_OnsetDate                       7884
HTN                                           0
HTN_OnsetDate                              3589
OA                                            0
OA_OnsetDate                               6860
COPD                                          0
COPD_Date                                  9014
Hypertension_Medications                   2962
Hypertension_Medications_First_Instance    2963
Corticosteroids                            7145
Corticosteroids_first_instance             7145
Sex                                           0
A1C_BEF_DM                                 4863
FBS_BEF_DM                                 4863
Patient_ID                                    0
DM_Onset_Revised                           4863
DM_Onset_Revised_1YrPrior                  4863
DIABETES                                      0
dtype: int64

Variables where over 50% are missing
* COPD_Date
* Corticosteroids
* Corticosteroids_first_instance
* Depression_OnsetDate
* OA_OnsetDate

Need to first consider which variables are actually misisng and which ones are not applicable bc the associated variable was 'No'

**Need to consider how to handle other missing variables?**

In [50]:
# create function that relabels true na values
def replace_null (var, date):
  data1['date'] = data1['date'].astype(str)
  data1['date'].replace('NaT', np.nan, inplace=True)
  data1.loc[data1['var'] == 0, 'date'] = 'not applicable'
  return data1

data1
#print(data1.isna().sum())

In [35]:
# Re-labeling Nan Variables


data1.loc[data1['Diabetes'] == 0, 'DM_OnsetDate'] = 'not applicable'
data1.loc[data1['Diabetes'] == 1, 'DM_OnsetDate'] = 'not applicable'

data1[['Diabetes','DM_OnsetDate']].head()

print(data1.isna().sum())

#print(data1['DM_OnsetDate'].isna().sum())
count = len(data1[(data1['Diabetes'] == 1) & data1['DM_OnsetDate'] == 'NaT'])
print(count)

Age_at_Exam                                   0
sBP                                           4
sBP_Date                                      0
BMI                                           0
BMI_Date                                      0
LDL                                          61
LDL_Date                                      0
HDL                                          72
HDL_Date                                     64
A1c                                           0
A1c_Date                                      0
TG                                           53
TG_Date                                      42
FBS                                           0
FBS_Date                                      0
FBS>DM                                        0
Total_Cholesterol                           207
Total_Cholesterol_Lab_Date                  197
Diabetes                                      0
DM_OnsetDate                                  0
Depression                                    0
Depression_OnsetDate                       7884
HTN                                           0
HTN_OnsetDate                              3589
OA                                            0
OA_OnsetDate                               6860
COPD                                          0
COPD_Date                                  9014
Hypertension_Medications                   2962
Hypertension_Medications_First_Instance    2963
Corticosteroids                            7145
Corticosteroids_first_instance             7145
Sex                                           0
A1C_BEF_DM                                 4863
FBS_BEF_DM                                 4863
Patient_ID                                    0
DM_Onset_Revised                           4863
DM_Onset_Revised_1YrPrior                  4863
DIABETES                                      0
dtype: int64
0

Data Exploration

---

In [8]:
# Check frequency of patient IDs
id_counts = data1['Patient_ID'].value_counts()
print(id_counts.value_counts())

1    7503
2     877
3     175
4      31
5       8
6       4
8       2
7       2
Name: Patient_ID, dtype: int64

* looks like majority of patients visited doctor only once
* time series analysis seems not possible

In [9]:
# Convert numeric categorical variables into descriptive categories
data1_dscrpt = data1

data1_dscrpt['FBS>DM'].replace({0 : 'False', 1 : 'True'}, inplace=True)
data1_dscrpt['Diabetes'].replace({0 : 'No', 1 : 'Yes'}, inplace=True)
data1_dscrpt['Depression'].replace({0 : 'No', 1 : 'Yes'}, inplace=True)
data1_dscrpt['HTN'].replace({0 : 'No', 1 : 'Yes'}, inplace=True)
data1_dscrpt['OA'].replace({0 : 'No', 1 : 'Yes'}, inplace=True)
data1_dscrpt['COPD'].replace({0 : 'No', 1 : 'Yes'}, inplace=True)

data1_dscrpt.head()

,Age_at_Exam,sBP,sBP_Date,BMI,BMI_Date,LDL,LDL_Date,HDL,HDL_Date,A1c,A1c_Date,TG,TG_Date,FBS,FBS_Date,FBS>DM,Total_Cholesterol,Total_Cholesterol_Lab_Date,Diabetes,DM_OnsetDate,Depression,Depression_OnsetDate,HTN,HTN_OnsetDate,OA,OA_OnsetDate,COPD,COPD_Date,Hypertension_Medications,Hypertension_Medications_First_Instance,Corticosteroids,Corticosteroids_first_instance,Sex,A1C_BEF_DM,FBS_BEF_DM,Patient_ID,DM_Onset_Revised,DM_Onset_Revised_1YrPrior,DIABETES
2,63,133.0,2012-07-31,30.900000,2011-12-01,1.65,2012-06-01,NaN,NaT,6.1,2012-06-01,0.76,2012-06-01,5.6,2012-06-01,True,NaN,NaT,No,NaT,No,NaT,Yes,2014-05-21,No,NaT,Yes,2005-04-08,METOPROLOL / RAMIPRIL / LOSARTAN,2005-01-11,NaN,NaT,Male,NaN,NaN,1001000000000054,NaT,NaT,No
7754,75,170.0,2012-10-23,32.500000,2012-06-14,3.98,2012-11-07,1.66,2012-11-07,6.6,2012-11-07,2.33,2012-11-07,7.2,2012-11-07,True,5.96,2012-03-23,Yes,2005-03-22,Yes,2008-10-03,Yes,2007-07-31,Yes,2011-08-09,No,NaT,DILTIAZEM / FELODIPINE / HYDROCHLOROTHIAZIDE ...,2005-03-22,PREDNISONE,2005-11-01,Female,False,False,1001000000001950,2005-03-15,2004-03-15,Yes
7773,49,130.0,2007-04-17,33.400000,2007-04-17,3.24,2007-05-03,1.88,2007-05-03,6.6,2007-05-03,1.16,2007-05-03,7.5,2007-05-03,False,5.65,2007-05-03,Yes,2007-05-03,No,NaT,Yes,2010-06-16,No,NaT,No,NaT,RAMIPRIL,2007-06-19,NaN,NaT,Female,False,True,1001000000003945,2005-05-12,2004-05-12,Yes
2386,66,112.0,2010-05-13,23.600000,2010-03-31,1.62,2011-03-11,1.34,2010-04-01,5.8,2010-04-01,1.53,2010-04-01,6.2,2010-04-01,True,3.54,2010-04-01,No,NaT,Yes,2004-05-03,Yes,2007-10-04,Yes,2010-09-02,No,NaT,RAMIPRIL,2005-06-21,NaN,NaT,Male,NaN,NaN,1001000000004538,NaT,NaT,No
7734,84,128.0,2011-01-24,30.677753,2011-10-24,2.13,2011-02-15,1.81,2011-02-15,7.6,2011-02-15,NaN,NaT,5.3,2011-02-15,True,4.76,2011-02-15,Yes,2010-06-03,No,NaT,Yes,2010-02-04,Yes,2004-09-30,No,NaT,TELMISARTAN / AMLODIPINE,2009-04-27,"HYDROCORTISONE, COMBINATIONS / PREDNISONE",2010-03-18,Female,False,True,1001000000005143,2009-04-27,2008-04-27,Yes

In [10]:
# create list of numerical, categorical, multinomial features
target_column = 'Diabetes'
categorical_columns = ['FBS>DM', 'Depression', 'HTN',
                       'OA', 'COPD', 'Sex','A1C_BEF_DM','FBS_BEF_DM',
                       'DIABETES']
#multinomial_columns = []
numerical_columns = ['Age_at_Exam','sBP','BMI','LDL','HDL','A1c',
                     'TG','FBS','Total_Cholesterol']