<a href="https://colab.research.google.com/github/lilyzhizhou/datathon-3/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Import libraries
import pandas as pd
from dython.nominal import associations
import numpy as np
import plotly.express as px
import io
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.naive_bayes import CategoricalNB, GaussianNB, MultinomialNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.metrics import RocCurveDisplay, roc_curve, accuracy_score, confusion_matrix, roc_auc_score, classification_report
from sklearn.model_selection import GridSearchCV
import seaborn as sns
import statsmodels.api as sm
import warnings

warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [10]:
# Import Diabetes Data
data = pd.read_excel('/content/drive/MyDrive/Machine Learning /Datathon #3/Diabetes Study File 10K Dec 14 2017.xlsx')

,Age_at_Exam,sBP,sBP_Date,BMI,BMI_Date,LDL,LDL_Date,HDL,HDL_Date,A1c,...,leastO(A1c_Date),leastO(DM_OnsetDate),leastO(FBS_Date),LeastOfAll,A1C_BEF_DM,FBS_BEF_DM,Patient_ID,DM_Onset_Revised,DM_Onset_Revised_1YrPrior,DIABETES
0,65,126.0,2013-06-11,31.000000,2013-06-11,1.66,2013-06-14,1.11,2013-06-14,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,4001000000255903,NaT,NaT,No
1,62,135.0,2014-06-19,25.846483,2014-10-17,2.49,2014-05-28,1.37,2014-05-28,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,4001000000256456,NaT,NaT,No
2,63,133.0,2012-07-31,30.900000,2011-12-01,1.65,2012-06-01,NaN,NaT,6.1,...,NaN,NaN,NaN,NaN,NaN,NaN,1001000000000054,NaT,NaT,No
3,51,136.0,2014-01-06,56.710775,2014-01-06,2.80,2014-01-14,1.94,2014-01-14,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4001000000259496,NaT,NaT,No
4,40,123.0,2015-06-12,33.067867,2015-06-12,2.48,2015-06-24,1.17,2015-06-24,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,4001000000262094,NaT,NaT,No

In [13]:
data = data.sort_values('Patient_ID')
data.head()

,Age_at_Exam,sBP,sBP_Date,BMI,BMI_Date,LDL,LDL_Date,HDL,HDL_Date,A1c,...,leastO(A1c_Date),leastO(DM_OnsetDate),leastO(FBS_Date),LeastOfAll,A1C_BEF_DM,FBS_BEF_DM,Patient_ID,DM_Onset_Revised,DM_Onset_Revised_1YrPrior,DIABETES
2,63,133.0,2012-07-31,30.900000,2011-12-01,1.65,2012-06-01,NaN,NaT,6.1,...,NaN,NaN,NaN,NaN,NaN,NaN,1001000000000054,NaT,NaT,No
7754,75,170.0,2012-10-23,32.500000,2012-06-14,3.98,2012-11-07,1.66,2012-11-07,6.6,...,39121.0,38433.0,39121.0,38433.0,False,False,1001000000001950,2005-03-15,2004-03-15,Yes
7773,49,130.0,2007-04-17,33.400000,2007-04-17,3.24,2007-05-03,1.88,2007-05-03,6.6,...,39636.0,39205.0,38491.0,38491.0,False,True,1001000000003945,2005-05-12,2004-05-12,Yes
2386,66,112.0,2010-05-13,23.600000,2010-03-31,1.62,2011-03-11,1.34,2010-04-01,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,1001000000004538,NaT,NaT,No
7734,84,128.0,2011-01-24,30.677753,2011-10-24,2.13,2011-02-15,1.81,2011-02-15,7.6,...,40862.0,40332.0,39937.0,39937.0,False,True,1001000000005143,2009-04-27,2008-04-27,Yes

In [14]:
data.dtypes

Age_at_Exam                                         int64
sBP                                               float64
sBP_Date                                   datetime64[ns]
BMI                                               float64
BMI_Date                                   datetime64[ns]
LDL                                               float64
LDL_Date                                   datetime64[ns]
HDL                                               float64
HDL_Date                                   datetime64[ns]
A1c                                               float64
A1c_Date                                   datetime64[ns]
TG                                                float64
TG_Date                                    datetime64[ns]
FBS                                               float64
FBS_Date                                   datetime64[ns]
FBS>DM                                              int64
Total_Cholesterol                                 float64
Total_Cholesterol_Lab_Date                 datetime64[ns]
Diabetes                                            int64
DM_OnsetDate                               datetime64[ns]
Depression                                          int64
Depression_OnsetDate                       datetime64[ns]
HTN                                                 int64
HTN_OnsetDate                              datetime64[ns]
OA                                                  int64
OA_OnsetDate                               datetime64[ns]
COPD                                                int64
COPD_Date                                  datetime64[ns]
Hypertension_Medications                           object
Hypertension_Medications_First_Instance    datetime64[ns]
Corticosteroids                                    object
Corticosteroids_first_instance             datetime64[ns]
Sex                                                object
leastO(A1c_Date)                                  float64
leastO(DM_OnsetDate)                              float64
leastO(FBS_Date)                                  float64
LeastOfAll                                        float64
A1C_BEF_DM                                         object
FBS_BEF_DM                                         object
Patient_ID                                          int64
DM_Onset_Revised                           datetime64[ns]
DM_Onset_Revised_1YrPrior                  datetime64[ns]
DIABETES                                           object
dtype: object

In [15]:
# Checking for any NA values
print(data.shape)
print(data.isna().sum())

(10000, 43)
Age_at_Exam                                   0
sBP                                           4
sBP_Date                                      0
BMI                                           0
BMI_Date                                      0
LDL                                          61
LDL_Date                                      0
HDL                                          72
HDL_Date                                     64
A1c                                           0
A1c_Date                                      0
TG                                           53
TG_Date                                      42
FBS                                           0
FBS_Date                                      0
FBS>DM                                        0
Total_Cholesterol                           207
Total_Cholesterol_Lab_Date                  197
Diabetes                                      0
DM_OnsetDate                               4863
Depression                                    0
Depression_OnsetDate                       7884
HTN                                           0
HTN_OnsetDate                              3589
OA                                            0
OA_OnsetDate                               6860
COPD                                          0
COPD_Date                                  9014
Hypertension_Medications                   2962
Hypertension_Medications_First_Instance    2963
Corticosteroids                            7145
Corticosteroids_first_instance             7145
Sex                                           0
leastO(A1c_Date)                           4594
leastO(DM_OnsetDate)                       4863
leastO(FBS_Date)                           4589
LeastOfAll                                 4863
A1C_BEF_DM                                 4863
FBS_BEF_DM                                 4863
Patient_ID                                    0
DM_Onset_Revised                           4863
DM_Onset_Revised_1YrPrior                  4863
DIABETES                                      0
dtype: int64

Variables where over 50% are missing
* COPD_Date
* Corticosteroids
* Corticosteroids_first_instance
* Depression_OnsetDate
* OA_OnsetDate

might consider excluding these from analysis

**Need to consider how to handle other missing variables?**

Data Exploration

---

In [ ]:
# Convert numeric categorical variables into descriptive categories
#